{%extends 'store/base.html'%}
{%load static%}
{%block title%}Fashion Store{%endblock%}
{%block body%}
<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
<form action="{%url 'add_to_cart'%}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{product.uid}}">
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item" id="img-container">
                            <img class="product__details__pic__item--large"
                                src="{{product.image.url}}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {%for image in image_list%}
                            <img src="{{image.image.url}}" data-imgbigurl="{{image.image.url}}" alt="">
                            {%endfor%}
                        </div>
                    </div>
                </div>






                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.product_name}}</h3>
                        <div class="product__details__price" id="price">${{product.price}}</div>
                        <p>{{product.product_description}}</p>
                        <div class="row">
                        <div class="item-option-select" id="div1">
                            <select name="color_id" id="color_id" class="form-control" onchange="loadSize()" required >
                                <option value="0" disabled selected>Select Color</option>
                                {% for s in colors%}
                                <option value="{{s.uid}}" style="padding-right:87px">{{s.color}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        </div><br>
                        <div class="row" id="div2">

	                    </div>







                        <br><br>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" name="quantity">
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="primary-btn">ADD TO CART</button>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
<!--                            <li><b>Availability</b> <span>In Stock</span></li>-->
<!--                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>-->
<!--                            <li><b>Weight</b> <span>0.5 kg</span></li>-->
<!--                            <li><b>Share on</b>-->
<!--                                <div class="share">-->
<!--                                    <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-pinterest"></i></a>-->
<!--                                </div>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>






<!--                <div class="col-lg-12">-->
<!--                    <div class="product__details__tab">-->
<!--                        <ul class="nav nav-tabs" role="tablist">-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"-->
<!--                                    aria-selected="true">Description</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"-->
<!--                                    aria-selected="false">Information</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"-->
<!--                                    aria-selected="false">Reviews <span>(1)</span></a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <div class="tab-content">-->
<!--                            <div class="tab-pane active" id="tabs-1" role="tabpanel">-->
<!--                                <div class="product__details__tab__desc">-->
<!--                                    <h6>Products Infomation</h6>-->
<!--                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.-->
<!--                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus-->
<!--                                        suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam-->
<!--                                        vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.-->
<!--                                        Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat,-->
<!--                                        accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a-->
<!--                                        pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula-->
<!--                                        elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus-->
<!--                                        et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam-->
<!--                                        vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>-->
<!--                                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem-->
<!--                                        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet-->
<!--                                        elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum-->
<!--                                        porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus-->
<!--                                        nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.-->
<!--                                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed-->
<!--                                        porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum-->
<!--                                        sed sit amet dui. Proin eget tortor risus.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="tab-pane" id="tabs-2" role="tabpanel">-->
<!--                                <div class="product__details__tab__desc">-->
<!--                                    <h6>Products Infomation</h6>-->
<!--                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.-->
<!--                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.-->
<!--                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam-->
<!--                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo-->
<!--                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.-->
<!--                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent-->
<!--                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac-->
<!--                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante-->
<!--                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;-->
<!--                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.-->
<!--                                        Proin eget tortor risus.</p>-->
<!--                                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem-->
<!--                                        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet-->
<!--                                        elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum-->
<!--                                        porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus-->
<!--                                        nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="tab-pane" id="tabs-3" role="tabpanel">-->
<!--                                <div class="product__details__tab__desc">-->
<!--                                    <h6>Products Infomation</h6>-->
<!--                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.-->
<!--                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.-->
<!--                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam-->
<!--                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo-->
<!--                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.-->
<!--                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent-->
<!--                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac-->
<!--                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante-->
<!--                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;-->
<!--                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.-->
<!--                                        Proin eget tortor risus.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
</form>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
<!--    <section class="related-product">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="section-title related__product__title">-->
<!--                        <h2>Related Product</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                    <div class="product__item">-->
<!--                        <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">-->
<!--                            <ul class="product__item__pic__hover">-->
<!--                                <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="product__item__text">-->
<!--                            <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                            <h5>$30.00</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                    <div class="product__item">-->
<!--                        <div class="product__item__pic set-bg" data-setbg="img/product/product-2.jpg">-->
<!--                            <ul class="product__item__pic__hover">-->
<!--                                <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="product__item__text">-->
<!--                            <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                            <h5>$30.00</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                    <div class="product__item">-->
<!--                        <div class="product__item__pic set-bg" data-setbg="img/product/product-3.jpg">-->
<!--                            <ul class="product__item__pic__hover">-->
<!--                                <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="product__item__text">-->
<!--                            <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                            <h5>$30.00</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                    <div class="product__item">-->
<!--                        <div class="product__item__pic set-bg" data-setbg="img/product/product-7.jpg">-->
<!--                            <ul class="product__item__pic__hover">-->
<!--                                <li><a href="#"><i class="fa fa-heart"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
<!--                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="product__item__text">-->
<!--                            <h6><a href="#">Crab Pool Security</a></h6>-->
<!--                            <h5>$30.00</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- Related Product Section End -->

<script>
    function loadSize() {
        var sel = document.getElementById('color_id');
        //alert(sel.value);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                // The responseText contains the HTML content from the Django view
                document.getElementById("div2").innerHTML = this.responseText;
            }
        };

        xhttp.open("GET", "../../size_list?color_id="+sel.value, true);
        xhttp.send();
    }


function loadPrice() {
        var sel = document.getElementById('size_id');
        //alert(sel.value);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                // The responseText contains the HTML content from the Django view
                document.getElementById("price").innerHTML = this.responseText;
            }
        };

        xhttp.open("GET", "../../show_price?size_id="+sel.value, true);
        xhttp.send();
    }
</script>

<script>
var options1 = {
    width: 400,
    zoomWidth: 500,
    offset: {vertical: 0, horizontal: 10}
};

// If the width and height of the image are not known or to adjust the image to the container of it
var options2 = {
    fillContainer: true,
    offset: {vertical: 0, horizontal: 10}
};
new ImageZoom(document.getElementById("img-container"), options2);

</script>


{%endblock%}