{% extends "../store/base.html" %}
{%load static%}
{%block title%}Order Details{%endblock%}
{%block body%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">

	<main class="col-md-9">
		{%for order in orders%}
		<a href="{%url 'order_details' orderno=order.id%}" style="color:black">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: {{order.order_number}}</strong>
			<span>Order Date: {{order.created_at}}</span>
		</header>

		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<h6 class="text-muted">Delivery to</h6>
					<p>{{order.first_name}} {{order.last_name}} <br>
					Phone {{order.phone}} Email: {{order.email}} <br>
			    	Location: {{order.address_line_1}},{{order.city}} , {{order.state}},  {{order.country}}, <br>
			    	P.O. Box: {{order.pincode}}
			 		</p>
				</div>
				<div class="col-md-4">
					<h6 class="text-muted">Payment</h6>
					{{order.payment.payment_method}}

				</div>
				<div class="col-md-4">
					<h6 class="text-muted">Status</h6>
					<span style="color:black">{{order.status}}</span>

				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article>
		</a>
		{%endfor%}
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}
